/* ~ general selector; + adjacent selector */
nav {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 200px;
  color:navy;
}
header{
  color: rgb(156, 67, 26);
  font-size:24px;
  text-align: center;
  height: 20vh;
  width: 50vw;
}
section {
color: rgba(128, 0, 0, 0.612);
}
footer {
color: plum;

}
body {
  color: rgb(75, 59, 97);
}

.container {
  max-width: 800px;
  width: 90vw;
  margin: 0 auto;
}

.lil {
color: rgb(103, 141, 46);
}
.DJ {
color: rgb(55, 80, 163);
}

.britt {
color: rgb(75, 59, 97);
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
  color: darkcyan;
}
.justify-space--between {
  justify-content: space-between;
}

/* Form */
input {
  margin-left: 40px;
}

span + span {
  margin-left: 15px;
}

.contact {
  text-align: center;
}

form span + div {
  margin-top: 20px;
}
textarea {
  margin-top: 10px;
}

form p {
  margin-bottom: 5px;
}

form > div + div {
  margin-top: 10px;
}

/* Navigation */
nav li {
margin: 0 20px;
text-transform: uppercase;
color: darkcyan;
}

#dropdown {
  display: none;

}

li:hover #dropdown {
  display: block;
}
