/* ~ general selector; + adjacent selector */
html {
  font-family: 'Playfair Display', serif;
}

header {
  font-size: 20px;
  text-align: center;
}
body {
  color: rgba(28,28,28,.8);
  font-size: 14px;
  line-height: 1.8em;
  text-transform: none;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  background-size: auto;
  background-color: #f5f5f5;
  margin: 0;
}

  @media only screen and (max-width: 1024px) {
  .canvas {
    margin: 0px auto;
  }
  };

body .canvas {
  background-color: #fff;
}
.canvas {
  max-width: 800px;
  padding: 100px 100px 0;
  display: block
}


footer {
color: darkcyan;
text-align: center;
padding: 15px;
}


ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-align: center;
}

h2 {
  text-align: center;
}

figure {
  float: left;
}

a{
  text-decoration: none;
  color: darkcyan;
}


.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.sec1 {
  margin-top: 30px;
}

.sec1title {
  padding-bottom: 10px;
}

.sec2 {
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: left;
}

.sec2title {
  padding-top: 30px;
}

.justify-space--between {
  justify-content: space-between;
}

 @media screen and (min-width: 1200px) {
   body {
     display: grid;
     grid-template-columns: 12rem auto;
     grid-template-rows: min-content auto auto min-content;
     grid-template-areas:
     "navigation header"
     "navigation main"
     "navigation main"
     "navigation footer";
   }

   nav {
     grid-area: navigation;
   }

   nav > ul {
     flex-direction: column;
   }

   header {
     grid-area: header;
   }

   main {
     grid-area: main;
   }

   footer {
     grid-area: footer;
   }
 }


/* Form */
input {
  margin-left: 40px;
}

span + span {
  margin-left: 15px;
}

.contact {
  text-align: center;
}

form span + div {
  margin-top: 20px;
}
textarea {
  margin-top: 10px;
}

form p {
  margin-bottom: 5px;
}

form > div + div {
  margin-top: 10px;
}

/* Navigation */

nav {
  position: sticky;
  top: 0;
  padding: 15px;
}

nav li {
margin: 0 20px;
text-transform: uppercase;
color: darkcyan;
}

#dropdown {
  display: none;
  position: absolute;

}

li:hover #dropdown {
  display: block;
}
